header, section {
  padding-top: 10px;
  padding-bottom: 10px;
}

header, #notices {
  font-size: 0.8em;
}

header {
  background-color: #999;
}

header h1 {
  font-family: 'Lobster', arial, serif;
}

#notices {
  background-color: #ccc;
}

#notices p:last-child {
  margin-bottom: 0;
}
