.simple_form > div.input {
  overflow: auto;
  margin-bottom: 1.5em;
}

.simple_form label {
  float: left;
  text-align: right;
}

.simple_form input.string,
.simple_form textarea {
  float: left;
}

.simple_form .hint {
  float: left;
  font-size: 80%;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form input[type='submit'] {
}

.simple_form .error {
  clear: left;
  font-size: 12px;
  color: #D00;
  display: block;
}
