img.avatar {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-image: url('/images/gravatar_frame.png');
  vertical-align: middle;
}

header .background {
  background-color: inherit;
  border: none;
  padding: 0.5em 0 0 0;
  margin: 0;
  font-size: 1.5em;
}

header .background li {
  list-style: none;
  float: left;
  padding-right: 0.5em;
}

#how-to-use-vestibule {
  font-size: 1.4em;
  font-weight: bold;
}

.age {
  padding-left: 0.5em;
  color: #ccc;
}

#suggestions label {
  margin: 0;
  text-align: left;
  width: auto;
}
#suggestions textarea {
  width: 378px;
  height: 100px;
}
#suggestions li.suggestion {
  list-style: none;
}

#title h1 {
  margin-left: 8px;
  display: inline;
}

.scored_people {
  margin-bottom: 4em;
}

.scored_people ul {
  padding: 0;
  overflow: hidden;
}

.scored_people li {
  list-style: none;
  float: left;
  padding: 1em;
}

#champs li .picture {
  position: relative;
  width: 73px;
  height: 73px;
}

#champs li .picture .score {
  position: absolute;
  bottom: 0px;
  right: 3px;
  text-shadow: #333 0px 0px 4px;
  font-weight: bold;
  color: #eee;
  font-size: 110%;
}

#scamps {
  clear: both;
}

#scamps img {
  width: 48px;
  height: 48px;
}