img.avatar {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-image: url('/images/gravatar_frame.png');
  vertical-align: middle;
}

#suggestions label {
  margin: 0;
  text-align: left;
  width: auto;
}
#suggestions textarea {
  width: 370px;
  height: 100px;
}
