<h1>Talks</h1>

<ul class="talks">
  <% for talk in @talks %>
    <li><%= link_to talk.title, talk %></li>
  <% end %>
</ul>

<% if account_signed_in? %>
  <%= link_to "Propose talk", new_talk_path %>
<% end %>
