<%= simple_form_for @user do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <%= notification %>
    </div>
  <% end %>
  <%= f.input :signup_reason, input_html: {rows: 3}, as: :markdown %>
  <%= f.button :submit, "Save", class: "btn btn-primary" %>
<% end %>
