<span class="avatar"><%= link_to image_tag(gravatar_url(account), :class => "gravatar"), dashboard_path %></span>
<span><%= link_to account.email, dashboard_path %></span>
<span><%= link_to "All proposals", proposals_path %></span>
