<p class="alert">This version of Vestibule is <em>read only</em>.  It represents an archive of the community's effort to produce content for <a href="http://rubymanor.org/3/">Ru3y Manor in 2011</a>.</p>
<% if flash[:notice] -%>
  <p class="notice"><%= notice %></p>
<% elsif flash[:alert] -%>
  <p class="alert"><%= alert %></p>
<% end -%>