<% if flash[:notice] -%>
  <p class="alert alert-success">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<%= notice %>
  </p>
<% elsif flash[:alert] -%>
  <p class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<%= alert %>
  </p>
<% end -%>
