<section id="how-to-use-vestibule">
  <%= page_title 'What is Vestibule?' %>

  <p>Vestibule is a tool to help us &mdash; the community &mdash; generate and prepare the contents of the day.</p>

  <p>The idea is simple. You propose a presentation. Others will help you refine and focus it by making <em>suggestions</em>. You keep updating your proposal bearing those suggestions in mind.</p>

  <p>At some point (yet to be determined), we&rsquo;ll then collectively whittle down the set of proposals to those that have been selected for the day.</p>

  <p><%= link_to "Read more about the Vestibule process", the_vestibule_process_path, class: "btn btn-primary" %></p>
</section>

<section>
  <h2>What is <%= Settings.event_name %>?</h2>
  <%= Settings.event_description.html_safe %>
</section>
