<section id="how-to-use-vestibule">
  <%= page_title 'What is Vestibule?' %>

  <p>Vestibule is a tool to help us - the community - generate and prepare the contents of the day.</p>

  <p>The idea is simple. You propose a presentation. Others will help you refine and focus it by making <em>suggestions</em>. You keep updating your proposal bearing those suggestions in mind.</p>

  <p>At some point (yet to be determined), we'll then collectively whittle down the set of proposals to those that have been selected for the day.</p>
</section>

<section>
  <h2>What is Ruby Manor?</h2>

  <p>Ruby Manor is a one-day, zero-bullshit fully-fledged conference about Ruby, the programming language.<p>

  <p>It's predicated on the belief that conferences don't need a lot of the ceremony and cruft that they've acquired over the years. We don't need swag. We don't need fancy food. We just want to get together with like minded people and share ideas. We want to know <a href="/motivation">what motivates you</a>.</p>

  <p>Conferences aren't about buying a ticket and then forgetting about it, and turning up on the day expecting to be entertained. They're about engaging, participating, sharing ideas and challenging each other. Most of all, they're about what the community finds interesting, not about what the same old conference circuit speakers want to feed you.</p>

  <p>Visit <a href="http://rubymanor.org">the main site</a> for more information.</p>
</section>
