<%= page_title "What's going on with these anonymous proposals?" %>

<p>Proposals (and comments on a proposal made by the author) are now made anonymously. This is to encourage development and selection of proposals without any bias.</p>

<p>We want to encourage <em>everyone</em> to participate in Ruby Manor as fully as possible, and one of the ways we can ensure that everyone is treated equally is by not revealing who is behind each proposal.</p>

<p>So, why not <%= link_to "propose a talk now", new_proposal_path %>?</p>
