<%= page_title "The Vestibule Process" %>

<p>The idea is simple. You <a href="#proposals" data-toggle="tab">propose a talk</a>. Others will help you <a href="#suggestions" data-toggle="tab">refine and focus it by making <em>suggestions</em></a>. You keep updating your proposal bearing those suggestions in mind.</p>

<p>At some point (yet to be determined), we&rsquo;ll then <a href="#selections" data-toggle="tab">collectively vote for the set of proposals</a> we want to see given on the day.</p>

<p>This year we&rsquo;re making the process <a href="/anonymous-proposals">completely anonymous for anyone who wants to submit a talk</a>. That means your proposal will be judged purely on the basis of its content — not on your name, your face, whether you&rsquo;re on the usual conference circuit, or any other criteria with the potential to distract from what the talk is about.</p>

<div class="the-process tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#proposals" data-toggle="tab">Writing a proposal</a></li>
    <li><a href="#suggestions" data-toggle="tab">Feedback on proposals</a></li>
    <li><a href="#selections" data-toggle="tab">Selection of proposals</a></li>
  </ul>

  <div class="tab-content">
    <article id="proposals" class="tab-pane active">
      <h1>Writing a proposal</h1>

      <p>Ruby Manor is nothing without your talk proposals.  We think that almost everyone has something interesting to talk about, so please think about that fun or unusual or difficult or surprising thing you&rsquo;ve done recently and submit a talk (or several talks!) to Ruby Manor so we can hear about it.</p>

      <section>
        <h2>What can I talk about?</h2>

        <p>You may propose a talk about whatever you like.  Talks which are directly or indirectly about Ruby are always popular, but you are welcome to submit a proposal about whatever subject you think will be interesting to the audience.  If the audience are indeed interested, your proposal will be successful <%= link_to 'in the voting', '#selections' %> and you will get to give the talk on the day.  If they&rsquo;re not interested, your proposal will sink slowly and inexorably into oblivion and nobody will ever know the truth of what happened.  The <a href="rubymanor.org/#who">Ruby Manor team</a> will be actively <a href="#suggestions">leaving suggestions</a> on each talk proposal to help get the ball rolling.  However, if you&rsquo;re not quite sure your idea is ready for public feedback yet, or just want some reassurance that you&rsquo;re on the right track, <a href="mailto:guvner@rubymanor.org?subject=Can+I+get+some+help+coming+up+with+my+proposal%3F">please do get in touch with us</a> and we&rsquo;ll give you some pointers.</p>

        <p>You should take a look at <%= link_to 'list of things people are hoping to get out of Ruby Manor', motivation_path %> for some inspiration.</p>
      </section>

      <section>
        <h2>How long should my talk be?</h2>

        <p>Talks will be a maximum of 30 minutes + 10 minutes Q&A, but if you have something interesting that can be said in less time, that&rsquo;s great too. We&rsquo;ll build the schedule around the best proposals chosen by the community.</p>
      </section>

      <section>
        <h2>Who will I be talking to?</h2>

        <p>Your audience will consist of people who are interested in coming to Ruby Manor: this mostly means Ruby programmers from London and the surrounding area, but there will also be many people who come from much further away.  There may be people who don&rsquo;t use Ruby, or aren&rsquo;t programmers, or both.  Primarily however, it&rsquo;s a Ruby-focussed and deeply-technical crowd.</p>
      </section>

      <section>
        <h2>Why should I give a talk?</h2>

        <p>It&rsquo;s a good opportunity to be heard by a large slice of the Ruby community, and we&rsquo;ll put together a high-quality video of your talk that you can share with everyone who couldn&rsquo;t get there on the day.</p>
      </section>

      <section>
        <h2>How anonymous does my proposal have to be?</h2>

        <p>Although the proposal system <%= link_to 'is completely anonymous', anonymous_proposals_path %>, we can&rsquo;t prevent you from including identifying information either within the proposal itself or on the wider internet. Sometimes this is inevitable: if you want to give a talk about this great programming language called Ruby that you developed in 1995, it&rsquo;s not going to take too much detective work to reveal your identity. That&rsquo;s fine, and there&rsquo;s no need to go to ridiculous lengths to conceal your identity if it makes the proposal more difficult to write, but just respect the spirit of the process: as far as is sensible and practical, we would like for talks to be chosen because of what they&rsquo;re about, not because of who is giving them.</p>
      </section>

      <section>
        <h2>Do I have to go through with it if I propose something?</h2>

        <p>Of course not!  No one is going to force you to give a talk just because you proposed it!  You always have the option to withdraw your proposal if change your mind or discover you can&rsquo;t make it to the conference.</p>
      </section>
    </article>

    <article id="suggestions" class="tab-pane">
      <h1>Feedback on proposals</h1>

      <p>Once a proposal is submitted, people will be able to leave comments on it, and the proposer will be able to respond.</p>

      <section>
        <h2>What do I do with suggestions on my proposals?</h2>

        <p>There are many ways to deal with suggestions.  You <em>can</em> simply ignore them - but we think you&rsquo;ll write a better talk and get more out of the process if you actively engage with them.  You can respond with your own comments (which will remain anonymous), you can tweak your proposal to accommodate them, or to explicitly rule them out.</p>
      </section>

      <section>
        <h2>What sort of suggestions should I make about a proposal?</h2>

        <p>Read the proposal in detail and provide feedback about how you think it could be clarified or improved.  Ask questions about what it will involve.  Be constructive and explain what needs to happen in order for the proposal to become something you&rsquo;re willing to vote for.</p>

        <p>Try to avoid simple &ldquo;+1&rdquo; or &ldquo;Yes, sounds good.&rdquo; style suggestions as they don&rsquo;t give the proposer anything useful to work with.  Say <em>why</em> you&rsquo;re &ldquo;+1&rdquo;-ing the proposal - there&rsquo;s got to be a reason and it&rsquo;s possible that you&rsquo;ve assumed they&rsquo;ll cover something that they weren&rsquo;t planning to.</p>
      </section>
    </article>

    <article id="selections" class="tab-pane">
      <h1>Selecting proposals</h1>

      <p>After we have feedback on all the proposals, we will stop accepting new talks and allow people to cast their votes about which talks they want to see on the day.</p>

      <section>
        <h2>How do talks get chosen?</h2>

        <p>This part is simple: anyone who signs up to Vestibule gets to pick the lineup they want to see on the day, with one vote for each available slot. Once the votes are in, the proposals with the most votes get picked, we inform the proposers that they have been successful, and we reveal the identities of the speakers.</p>
      </section>

      <section>
        <h2>What happens if my talk doesn&rsquo;t get chosen?</h2>

        <p>Unsuccessful proposals will remain anonymous.  Feel free to use all the feedback from the community to rework your proposal and submit it to another conference.</p>
      </section>

      <section>
        <h2>What happens if my talk does get chosen?</h2>

        <p>We&rsquo;ll be in touch to confirm that you really are happy to give the talk.  It&rsquo;s fine if you&rsquo;re not, there&rsquo;ll be no hard feelings.  Assuming that you are we&rsquo;ll arrange some rehearsal time with you at least a week before the event.  We&rsquo;ll be as flexible as you need with this; if you&rsquo;re in London we can meet in an office to do a run-through, if you&rsquo;re further afield, or don&rsquo;t have much flexible free-time we can arrange something over skype.  We know that you want your talk to be great and you know we want your talk to be great, so let&rsquo;s work together to achieve that.</p>
      </section>
    </article>
  </div>
</div>
