<p class="well"><%=t "vestibule.proposal.pitch.html", :link => link_to(t("vestibule.proposal.pitch.link"), the_vestibule_process_path) %></p>

<%= page_title t("vestibule.proposal.title") %>

<p><%=t "vestibule.proposal.anonymous.html", :link => link_to(t("vestibule.proposal.anonymous.link"), anonymous_proposals_path) %></p>

<%= render "form" %>
