/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Global Variables */
$arial: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
$ubuntu: 'Ubuntu', $arial;
$georgia: Georgia, "Times New Roman", Times, serif;
$tahoma: Tahoma, Arial, sans-serif;
$verdana: Verdana, Arial, sans-serif;

$dark_white: #fefefe;
$dark_grey: #231f20;
$light_grey: #616161;
$lighter_grey: #848484;
$lightest_grey: #a8a8a8;
$vr: 20px;
$hr: 18px;

@import 'bootstrap_import';
@import 'layout';
@import 'proposals';
@import 'nav';
@import 'cfp';
