#cfp {
  .section {
    margin: 0 auto;
    padding: 80px 0 0;
    max-width: 70%;
  }

  h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font: 300 32px/42px $ubuntu;
  }

  h2 {
    margin-top: 48px;
    font: 300 26px/32px $ubuntu;
  }

  p {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
    font: 300 16px/24px $ubuntu;
    text-align: justify;

    em {
      font-style: italic;
      font-weight: 600;
    }
  }

  ul {
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    list-style: disc;

    li {
      margin: 5px 0;
    }

    em {
      font-weight: 600;
    }
  }

  footer {
    padding: 40px 0;
    background: #efefef;
    margin: 40px auto 0;

    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
      text-align: left;
      font-size: 14px;
    }

    a {
      color: blue;
    }
  }
}

/* Media Queries: Tablet devices overwrite 641px...960px */

@media only screen and (max-width:960px) {
  #codeofconduct {
  }
}

/* Media Queries: Mobile devices overwrite 320px...640px */

@media only screen and (max-width:640px) {
  #codeofconduct {
    h1 {
      font-size: 24px;
    }

    h2 {
      margin-top: 32px;
      font-size: 22px;
    }
  }
}
