form.button_to {
  margin-bottom: 0;
  margin-top: 2px;
  input {
    padding: 5px 12px;
  }
}

form {
  input[type=text], textarea {
    width: 100%;
  }

  .alert-error p {
    margin-bottom: 0;
  }
}

label {
  .markdown-note {
    font-size: $fontSizeSmall;
    color: lighten($grayDark, 15%);
  }
}
