.proposals {
  margin-top: 8px;
  li.proposal {
    margin-bottom: 8px;
  }
}


.suggestions {
  list-style: none;
  margin-left: 0;
  p {
    text-align: left;
  }

  .suggestion {
    .author {
      img {
        float: left;
        margin-right: 10px;
      }
    }
  }
}
