.proposals {
  .action {
    margin: 1em 0 2em 0;
  }

  li.proposal {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;

    .age {
      color: #ccc;
      margin-left: 0.5em;
      font-size: 18px;
    }
  }
}

.proposal {
  h1 {
    line-height: 50px;
  }
  .age {
    color: #ccc;
  }
  p {
    line-height: 24px;
    margin-bottom: 24px;
  }
}

.suggestions {
  list-style: none;
  margin-left: 0;

  .suggestion {
    .author {
      img {
        float: left;
        margin-right: 10px;
      }
    }
    .age {
      color: #ccc;
    }
  }
}
